.about_main {
  position: relative;
}

.inner_images {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.inner_images::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #00000090;
}

.inner_images img {
  width: 100%;
  object-fit: cover;
}

.inner_content {
  position: absolute;
  width: var(--dp-dt-width);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  color: #fff;
}

.inner_content > h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
}

.inner_content > p {
  font-size: 1.25rem;
  line-height: 140%;
  margin-bottom: 20px;
}

.map_container {
  width: 100%;
  padding: 100px 0;
  overflow: hidden;
}

.map {
  width: var(--dp-dt-width);
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  height: 500px;
}

.location_title {
  width: var(--dp-dt-width);
  margin: 0 auto 20px;
  color: #333;
}

.location_title > h3 {
  font-size: 1.85rem;
}

.location_title > p {
  display: flex;
  align-items: center;
  gap: 5px;
}

.address {
  width: var(--dp-dt-width);
  margin: 20px auto;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.address p {
  display: flex;
  gap: 5px;
}


.address p > span {
  display: inline-block;
  padding: 3px 9px;
  font-size: 0.8rem;
  color: #fff;
  border-radius: 7px;
}

.address .blue {
  background-color: blue;
}

.address .green {
  background-color: green;
}

.address .red {
  background-color: red;
}
