.icon_navigation {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
  gap: 48px;
}


.icon_navigation > li > a {
  font-size: 1.7rem;
  color: var(--base-font-color);
  /* color: #fff; */
}

