.icon_navigation {
  display: flex;
  flex-direction: row;
  gap: var(--base-margin);
  padding-left: var(--base-padding);
}

.icon_navigation > li > a {
  font-size: 1.5rem;
  color: #222;
}

.icon_navigation > li:last-child > a {
    color: #fff;
    padding: 2px 7px;
    border-radius: 7px;
    background: #b60101;
}