.title {
  margin: 0 auto;
  width: var(--dp-dt-width);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.title h2 {
  margin-right: 10px;
  font-size: 1.75rem;
  color: var(--base-font-color);
  font-weight: 500;
}

.title span {
  font-size: 1.125rem;
  color: var(--base-font-color);
}

.more {
  margin-left: auto;
}

.more a {
  font-size: 1.125rem;
  color: var(--base-font-color);
  
}

.more a > svg {
  padding-top: 1px;
  font-size: 0.79rem;
}


@media screen and (max-width: 1248px) {
  .title {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
  }
  .title h2 {
 font-size: 1.35rem;
  }

  .title span {
    font-size: 1rem;
  }

  .more a {
    font-size: 1rem;
  }
  
}