@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {

  /* 너비 */
  --dp-dt-width: 1440px;
  --dp-tb-width: 768px;
  --dp-mb-width: 414px; 

  /* 컬러 */
  --base-font-color: #222;
  --base-theme-color: #fffbca;
  --base-btn-color: #116edb;

  /* 기본여백 */
  --base-padding: 20px;
  --base-margin: 20px;

  --ff-noto: "Noto Sans KR", sans-serif;
  --ff-roboto: "Roboto", sans-serif;

  /* 보더 */
  --base-border: 1px solid #eee;
  --divide-border: 1px solid #ddd;
}

/* css 초기화 */

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {
  font-size: 16px;
  letter-spacing: -0.05rem;
}

body {
  font-family: var(--ff-noto);
}

body::-webkit-scrollbar {
  width: 5px;

}


body::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
  border: 2px solid transparent;
}

body::-webkit-scrollbar-track {
  background-color: #ffffff;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.uandme {
  display: flex;
  flex-direction: column;
}

section {
  width: 100%;
}

