.kakao_container {
 width: 100%;
 background-color: #fff460;
}

.kakao_container .inner_card {
  width: var(--dp-dt-width);
  margin: 0 auto;
  padding: 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.kakao_container .inner_card button {
  display: flex;
  align-items: center;
  padding: 15px 22px;
  gap: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  align-self: flex-end;
}

.kakao_container .inner_card button svg {
  font-size: 1.5rem;
}