.slogan {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: calc(100vh - 90px);
  width: 100%;
  z-index: 2;
}

.slogan_content {
  display: block;
  width: var(--dp-dt-width);
  margin: 0 auto;
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
  text-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s;
}

.slogan_content:last-child {
  font-size: 2rem;
  font-weight: 500;
}

.slogan_content.on {
  opacity: 1;
  transform: translateY(0);
}

.slogan_content.on:first-child {
  transition: all 1.2s ease-in-out 0.5s;
}

.slogan_content.on:last-child {
  transition: all 1.2s ease-in-out 1s;
}
