.card_item_container {
  flex: 1;
  padding: 20px;
  /* border: 1px solid #333; */
  box-shadow: 0 3px 8px 0px #dddddd90;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title > h3 {
  font-weight: 600;
  color: #aaa;
}

.desc p {
  font-size: 0.88rem;
}

@media screen and (max-width: 1248px) {
  .card_item_container {
    width: 100%;
  }
}