.header {
    position: fixed;
    width: 100%;
    padding: var(--base-padding) 0;
    border-bottom: 1px solid #eee;
}

nav {
    width: var(--dp-dt-width);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.logo > span {
    font-size: 1.1rem;
    font-weight: 500;
}

.logo > img {
    max-width: 110px;
}